html, body{
    height: 100%;
    
}

.cover-home{
  background: url("img/recycle.jpg") no-repeat;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  opacity: 0.85;
}

.caption-home{
  position: absolute;
  width: 100%;
  left: 0;
  top: 40%;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;

}


#pcaption{
  font-size: 25px;
}

.bottons{
  margin: 5px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

.how-it-works{
  width: 100%;
  left: 0;
  text-align: center;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-top: 2rem;
  text-align: center;
}
.marketing h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.site-footer{
  margin: 10px;
  padding: 5px;
  color: black;
  text-align: center;
  
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}